*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 16px;
  background: url("../img/bg.jpg") repeat center #1a1a1a;
  background-position: 0 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  font-family: "Trebuchet MS Regular", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: $white;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
