.product-card {
  width: 324px;

  &--selected {
    .product-card {
      &__border {
        stroke: $selected;
      }

      &__badge {
        background-color: $selected;
      }

      &__caption--default {
        display: none;
      }

      &__caption--selected {
        display: block;
      }
    }
  }

  &--disabled {
    pointer-events: none;

    .product-card {
      &__caption {
        &--default,
        &--selected {
          display: none;
        }

        &--disabled {
          display: block;
          color: $text-warning;
        }
      }

      &__border {
        stroke: $disabled;
      }

      &__info * {
        color: $disabled;
      }

      &__img {
        opacity: 0.5;
      }

      &__badge {
        background-color: $disabled;
      }
    }
  }

  &__wrapper {
    position: relative;
    height: 484px;
    color: $text-colour;
    cursor: pointer;
  }

  &__title {
    width: 70%;
    margin: 0 auto;
    font-size: 48px;
    color: $black;
    line-height: 0.7;
    &--small {
      font-size: 24px;
    }
  }

  &__catch {
    padding: 20px 0 0 48px;
    color: $text-colour;
  }

  &__list {
    list-style: none;
    margin-top: 20px;
    padding-left: 48px;
  }

  &__cancel {
    padding: 20px 0 0 48px;
    color: $magenta-light;
    display: none;
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    stroke: $default;
    fill: $bg-light;
    z-index: -1;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__badge {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  &__caption {
    min-height: 20px;
    font-size: 13px;
    text-align: center;

    &--selected,
    &--disabled {
      display: none;
    }
  }

  &__btn {
    padding-right: 0;
    padding-left: 0;
    color: $default;
    border: none;
    border-bottom: 1px dashed $default;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: $default-hover;
    }
  }
}
