.section {
  margin: 0 auto;

  &--cat-food {
    display: flex;
    flex-wrap: wrap;

    @media ($tablet) {
      justify-content: space-around;
    }
    @media ($desktop) {
      justify-content: space-between;
    }
  }
}
